<h2>Admin Dashboard</h2>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Message</th>
  </tr>

  <% messages.forEach(msg => { %>
    <tr>
      <td><%= msg.name %></td>
      <td><%= msg.email %></td>
      <td><%= msg.message %></td>
    </tr>
  <% }) %>
</table>
