<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>

<h1>Contact Form 🚀</h1>

<form action="/send" method="POST">
  <input type="text" name="name" placeholder="Enter name" required><br><br>
  <input type="email" name="email" placeholder="Enter email" required><br><br>
  <textarea name="message" placeholder="Enter message" required></textarea><br><br>
  <button type="submit">Send</button>
</form>

<hr>

<h2>Messages:</h2>

<ul>
    <% if(messages && messages.length > 0){ %>
        <% messages.forEach(function(msg){ %>
            <li>
                <b><%= msg.name %></b> (<%= msg.email %>) :
                <%= msg.message %>
            </li>
        <% }) %>
    <% } else { %>
        <li>No messages yet</li>
    <% } %>
</ul>
</body>
</html>
